#wrapper {
  display: flex;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}

.flex-column {
  flex-direction: column !important;
}

.d-flex {
  display: flex !important;
}


/* ***********************************************
 * Buttons */
:host ::ng-deep .btn-icon-split {
  padding: 0;
}

:host ::ng-deep .btn-icon-split .icon {
  background: rgba(0, 0, 0, .15);
  display: inline-block;
  padding: .375rem .75rem;
}

:host ::ng-deep .btn-icon-split .text {
  display: inline-block;
  padding: .375rem .75rem;
}
