#wrapper {
  display: flex;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}

.flex-column {
  flex-direction: column !important;
}

.d-flex {
  display: flex !important;
}
