<div class="container-fluid">

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Product {{ (product.id) ? "#" + product.id : "" }}</h6>
    </div>
    <div class="card-body">

      <div class="row">

        <!-- Left side : product information -->
        <form (ngSubmit)="onSubmitProductForm()" class="col-sm-6 product-form" #productForm=ngForm>
          <div class="form-group">
            <label for="title">Title</label>
            <input [(ngModel)]=product.title name="title" type="text" class="form-control form-control-user"
                   id="title"
                   placeholder="Title" required>
          </div>
          <div class="form-group">
            <label for="ref">Ref</label>
            <input [(ngModel)]=product.ref name="ref" type="text" class="form-control form-control-user" id="ref"
                   placeholder="Ref" required>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="amount">Price</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <select [(ngModel)]="product.money.currency"
                          name="currency"
                          aria-controls="dataTable"
                          class="input-group-text custom-select custom-select-sm form-control form-control-sm">
                    <option *ngFor="let currencyOption of currencies"
                            [value]="currencyOption">{{ (0 | currency : currencyOption) | slice:0:1}}
                    </option>
                  </select>
                </div>
                <input [(ngModel)]=product.money.amount name="amount" type="number"
                       class="form-control form-control-user"
                       id="amount">
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
            </div>
            <div class="col-sm-4 ml-auto">
              <label for="stockQuantity">Quantity in stock</label>
              <input [(ngModel)]=product.stockQuantity name="stockQuantity" type="number"
                     class="form-control form-control-user" id="stockQuantity"
                     placeholder="0">
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea [(ngModel)]=product.description name="description" type="text"
                      class="form-control form-control-user"
                      id="description"
                      placeholder="description"></textarea>
          </div>
          <button [disabled]=!productForm.valid class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-right"></i>
                    </span>
            <span class="text">{{ (product.id) ? "Update" : "Create" }} product</span>
          </button>
          <button (click)="resetForm()" type="button" class="btn btn-secondary btn-icon-split float-right">
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-right"></i>
                    </span>
            <span class="text">Reset</span>
          </button>
        </form>

        <!-- Product image -->
        <div class="col-sm-6 card p-2 card-img-box" style="width: 18rem;">
          <img class="card-img-top"
               src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1741c0bb74b%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1741c0bb74b%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.15625%22%20y%3D%2296.2765625%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
          <div class="card-body">
            <p class="card-text">Image product pending feature</p>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
